body {
 background: #0F111A;
 color: white;
 margin: 0 auto;
 text-align: center;
 font-family: 'Lato', sans-serif;
 padding: 0 2rem;
}

:root {
 --orange: orange;
 --green: yellowgreen;
 --yellow: yellow;
 --blue: aqua;
 --purple: rebeccapurple;
}


i {
 font-size: 0.3em;
}