$c-orange: orange;
$c-green: yellowgreen;
$c-yellow: yellow;
$c-blue: aqua;
$c-purple: rebeccapurple;
$c-white: white;

$c-orange-lighter: lighten($c-orange, 20%);
$c-purple-lighter: lighten($c-purple, 20%);