body {
 background: #0F111A;
 color: white;
 margin: 0 auto;
 text-align: center;
 font-family: 'Lato', sans-serif;
 padding: 0 2rem;
}

:root {
 --orange: orange;
 --green: yellowgreen;
 --yellow: yellow;
 --blue: aqua;
 --purple: rebeccapurple;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}